<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdc.android.milestone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.sdc.android.expensify.LoginActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.sdc.android.expensify.RegisterActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.sdc.android.expensify.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.sdc.android.expensify.AccountActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.sdc.android.expensify.ListAccount"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.LISTACCOUNT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
         <activity
            android:name="com.sdc.android.expensify.ListIncome"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.LISTINCOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           <activity
            android:name="com.sdc.android.expensify.ListExpenses"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.LISTEXPENSES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    
    
     <activity
            android:name="com.sdc.android.expensify.TransactionActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
     <activity
            android:name="com.sdc.android.expensify.ReceiptActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.RECEIPTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
     
     <activity
            android:name="com.sdc.android.expensify.PaymentActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.PAYMENTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
      <activity
            android:name="com.sdc.android.expensify.AccountUpdateDelete"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.AccountUpdateDelete"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
     

       <activity
            android:name="com.sdc.android.expensify.IncomeUpdateDelete"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.IncomeUpdateDelete"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
     
       
       
       <activity
            android:name="com.sdc.android.expensify.ExpensesUpdateDelete"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.ExpensesUpdateDelete"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       <activity
            android:name="com.sdc.android.expensify.ListRecieptsActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.ListRecieptsActivity"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       <activity
            android:name="com.sdc.android.expensify.RecieptUpadeDel"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.RecieptUpadeDel"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       
        <activity
            android:name="com.sdc.android.expensify.ListPaymentsActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.ListPaymentsActivity"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.sdc.android.expensify.PaymentsUpadeDel"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.PaymentsUpadeDel"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.sdc.android.expensify.ReportsActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.ReportsActivity"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         
         <activity
            android:name="com.sdc.android.expensify.AccountDisplay"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.AccountDisplay"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name="com.sdc.android.expensify.SectionActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.SectionActivity"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           <activity
            android:name="com.sdc.android.expensify.IncomeReportActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.IncomeReportActivity"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           
           <activity
            android:name="com.sdc.android.expensify.ExpensesReportActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.ExpensesReportActivity"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           
           
            <activity
            android:name="com.sdc.android.expensify.MyCustomAdapter1"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.MyCustomAdapter1"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
              <activity
            android:name="com.sdc.android.expensify.BackupActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sdc.android.milestone.BackupActivity"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         
    </application>
</manifest>